* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #FB7F01;
  border-bottom: 10px solid #DA782D;
  float: left;
  margin: 0;
  width: 100%;
}

nav ul {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 50%;
}

div.logo {
  display: inline-block;
  width: 40%;
  float: left;
  padding-left: 6%;
}

div.logo img {
  display: inline-block;
  float: left;
  height: 30px;
  margin: 25px 3px;
  width: 60px;
}

div.logo h1 {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin: 17px 0;
}

.orange {
  font-weight: 800;
}

nav ul li {
  display: inline-block;
  margin: 28px 3% 22px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  float: left;
  font-size: 20px;
}

nav ul li a:hover {
  color: yellow;
}

#search {
  margin: 0;
  width: 100%;
}

#search input {
  background-color: #EEE;
  border: none;
  color: #555;
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  float: right;
  height: 50px;
  letter-spacing: 0.6px;
  margin: 20px 0 5px 0;
  width: 220px;
  padding-left: 20px
}

::-webkit-input-placeholder {
  color: lightgrey;
}

#search input:focus {
  outline-width: 0;
}

#search i {
  color: lightgrey;
  cursor: text;
  background-color: #EEE;
  display: inline-block;
  float: right;
  font-size: 1.2em;
  height: 35px;
  margin: 20px 50px 5px 0;
  padding-top: 15px;
  padding-right: 7px;
  width: 30px;
}

.main {
  margin: 0;
  position: relative;
  width: 100%;

}

.main #left {
  display: inline-block;
  float: left;
  margin-bottom: 180px;
  width: 45%;
}

.main #left img {
  float: right;
  height: auto;
  margin-top: 120px;
  width: 412px;
}

.main #right {
  display: inline-block;
  float: left;
  width: 55%;
}

#right p {
  color: #FB7F01;
  font-size: 40px;
  line-height: 60px;
  margin: 100px 0 30px;
  padding-left: 50px;
}

#right p span.lightblue {
  color: #7BCBC8;
  font-weight: 700;
}

#right button {
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  margin: 10px 0 0 50px;
  width: 250px;
}

#right button.left {
  background-color: #FB7F01;
}

#right button.right {
  background-color: #7BCBC8;
}

div.footer p {
    bottom: 0;
    height: 90px;
    background-color: #7BCBC8;
    position: fixed;
    width: 100%;
}

/*---------------------------MEDIA QUERIES HERE -----------------*/

@media (max-width: 1243px) {
  nav ul li a {
    font-size: 16px;
  }

  .main #left img {
    width: 380px;
  }

  #right p {
    font-size: 32px;
    margin: 50px 0 30px;
  }

  #right button {
    border-radius: 7px;
    width: 200px;
  }
}

@media (max-width: 1024px) {
  div.logo {
    display: block;
    margin: 20px auto 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  div.logo img {
    padding-left: 30%;
    height: 60px;
    width: 120px;
  }

  div.logo h1 {
    float: left;
    font-size: 50px;
    padding-left: 10px;
  }

  nav ul {
    display: block;
    width: 100%;
  }

  nav ul li {
    border-left: 1px solid azure;
    margin: 10px 0 0;
    padding: 6px 4%;
  }

  nav ul li:first-child {
    border: none;
  }

  nav ul li a {
    font-size: 24px;
  }

  #search input {
    font-size: 20px;
    height: 60px;
    width: 300px;
  }

  #search i {
    font-size: 2em;
    padding: 15px 15px 10px;
  }

  .main #left, .main #right{
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .main #right {
    margin-bottom: 180px;
  }

  .main #left img {
    float: none;
    height: auto;
    margin: 40px auto 0;
    width: 60%;
  }

  #right p {
    padding: 0;
  }

  #right button {
    margin: 10px 30px;
    width: 208px;
  }
}

@media (max-width: 1000px) {
  div.logo img {
    padding-left: 28.5%;
  }
}

@media (max-width: 975px) {
  div.logo img {
    padding-left: 27%;
  }
}

@media (max-width: 950px) {
  div.logo img {
    padding-left: 25.5%;
  }
}

@media (max-width: 925px) {
  div.logo img {
    padding-left: 24%;
  }
}

@media (max-width: 900px) {
  div.logo img {
    padding-left: 23.5%;
  }
}

@media (max-width: 850px) {
  div.logo img {
    padding-left: 23%;
  }

  nav ul li {
    border: none;
    border-top: 1px solid azure;
    text-align: center;
    padding: 6px 0;
    width: 100%;
  }

  nav ul li:first-child {
    border-top: 1px solid azure;
  }

  nav ul li a {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 414px) {
  div.logo img {
    height: auto;
    padding-left: 18%;
    width: 18%;
  }

  div.logo h1 {
    font-size: 70px;
    padding-left: 20px;
  }
}
